<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zheng.mapper.CustPersonEntityMapper" >
  <resultMap id="BaseResultMap" type="com.zheng.entity.CustPersonEntity" >
    <id column="OBJID" property="objid" jdbcType="INTEGER" />
    <result column="TRADETYPE" property="tradetype" jdbcType="CHAR" />
    <result column="VOCATION" property="vocation" jdbcType="CHAR" />
    <result column="EDUCATION" property="education" jdbcType="CHAR" />
    <result column="INCOME" property="income" jdbcType="CHAR" />
    <result column="MARRIAGE" property="marriage" jdbcType="CHAR" />
    <result column="BIRTHDAY" property="birthday" jdbcType="VARCHAR" />
    <result column="MOBLIENO" property="moblieno" jdbcType="VARCHAR" />
    <result column="CUSTNO" property="custno" jdbcType="VARCHAR" />
    <result column="GENDER" property="gender" jdbcType="INTEGER" />
    <result column="CREATETIMESTAMP" property="createtimestamp" jdbcType="TIMESTAMP" />
    <result column="UPDATETIMESTAMP" property="updatetimestamp" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="INTEGER" />
    <result column="ENTITYNAME" property="entityname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    OBJID, TRADETYPE, VOCATION, EDUCATION, INCOME, MARRIAGE, BIRTHDAY, MOBLIENO, CUSTNO, 
    GENDER, CREATETIMESTAMP, UPDATETIMESTAMP, VERSION, ENTITYNAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from custperson
    where OBJID = #{objid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from custperson
    where OBJID = #{objid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zheng.entity.CustPersonEntity" >
    insert into custperson (OBJID, TRADETYPE, VOCATION, 
      EDUCATION, INCOME, MARRIAGE, 
      BIRTHDAY, MOBLIENO, CUSTNO, 
      GENDER, CREATETIMESTAMP, UPDATETIMESTAMP, 
      VERSION, ENTITYNAME)
    values (#{objid,jdbcType=INTEGER}, #{tradetype,jdbcType=CHAR}, #{vocation,jdbcType=CHAR}, 
      #{education,jdbcType=CHAR}, #{income,jdbcType=CHAR}, #{marriage,jdbcType=CHAR}, 
      #{birthday,jdbcType=VARCHAR}, #{moblieno,jdbcType=VARCHAR}, #{custno,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{createtimestamp,jdbcType=TIMESTAMP}, #{updatetimestamp,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=INTEGER}, #{entityname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zheng.entity.CustPersonEntity" >
    insert into custperson
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="objid != null" >
        OBJID,
      </if>
      <if test="tradetype != null" >
        TRADETYPE,
      </if>
      <if test="vocation != null" >
        VOCATION,
      </if>
      <if test="education != null" >
        EDUCATION,
      </if>
      <if test="income != null" >
        INCOME,
      </if>
      <if test="marriage != null" >
        MARRIAGE,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="moblieno != null" >
        MOBLIENO,
      </if>
      <if test="custno != null" >
        CUSTNO,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="createtimestamp != null" >
        CREATETIMESTAMP,
      </if>
      <if test="updatetimestamp != null" >
        UPDATETIMESTAMP,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="entityname != null" >
        ENTITYNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="objid != null" >
        #{objid,jdbcType=INTEGER},
      </if>
      <if test="tradetype != null" >
        #{tradetype,jdbcType=CHAR},
      </if>
      <if test="vocation != null" >
        #{vocation,jdbcType=CHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=CHAR},
      </if>
      <if test="income != null" >
        #{income,jdbcType=CHAR},
      </if>
      <if test="marriage != null" >
        #{marriage,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="moblieno != null" >
        #{moblieno,jdbcType=VARCHAR},
      </if>
      <if test="custno != null" >
        #{custno,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="createtimestamp != null" >
        #{createtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetimestamp != null" >
        #{updatetimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="entityname != null" >
        #{entityname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zheng.entity.CustPersonEntity" >
    update custperson
    <set >
      <if test="tradetype != null" >
        TRADETYPE = #{tradetype,jdbcType=CHAR},
      </if>
      <if test="vocation != null" >
        VOCATION = #{vocation,jdbcType=CHAR},
      </if>
      <if test="education != null" >
        EDUCATION = #{education,jdbcType=CHAR},
      </if>
      <if test="income != null" >
        INCOME = #{income,jdbcType=CHAR},
      </if>
      <if test="marriage != null" >
        MARRIAGE = #{marriage,jdbcType=CHAR},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="moblieno != null" >
        MOBLIENO = #{moblieno,jdbcType=VARCHAR},
      </if>
      <if test="custno != null" >
        CUSTNO = #{custno,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        GENDER = #{gender,jdbcType=INTEGER},
      </if>
      <if test="createtimestamp != null" >
        CREATETIMESTAMP = #{createtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetimestamp != null" >
        UPDATETIMESTAMP = #{updatetimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=INTEGER},
      </if>
      <if test="entityname != null" >
        ENTITYNAME = #{entityname,jdbcType=VARCHAR},
      </if>
    </set>
    where OBJID = #{objid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zheng.entity.CustPersonEntity" >
    update custperson
    set TRADETYPE = #{tradetype,jdbcType=CHAR},
      VOCATION = #{vocation,jdbcType=CHAR},
      EDUCATION = #{education,jdbcType=CHAR},
      INCOME = #{income,jdbcType=CHAR},
      MARRIAGE = #{marriage,jdbcType=CHAR},
      BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      MOBLIENO = #{moblieno,jdbcType=VARCHAR},
      CUSTNO = #{custno,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=INTEGER},
      CREATETIMESTAMP = #{createtimestamp,jdbcType=TIMESTAMP},
      UPDATETIMESTAMP = #{updatetimestamp,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=INTEGER},
      ENTITYNAME = #{entityname,jdbcType=VARCHAR}
    where OBJID = #{objid,jdbcType=INTEGER}
  </update>
</mapper>